<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>DocuIA - Recuperar Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<main class="page forgot-page">

    <header class="logo forgot-logo">
        <h1>DocuIA</h1>
        <p>Documentação Inteligente com IA</p>
    </header>

    <section class="card forgot-card">

        <h2>Esqueceu a senha?</h2>

        <p class="subtitle forgot-subtitle">
            Digite seu e-mail e enviaremos instruções para
            redefinir sua senha
        </p>

        <form method="POST">

            <div class="form-group">
                <label>E-mail</label>

                <div class="input-box">
                    <span class="icon">✉</span>

                    <input
                        type="email"
                        placeholder="seu@email.com"
                    >
                </div>
            </div>

            <button type="submit" class="forgot-button">
                Enviar instruções
            </button>

        </form>

        <a href="/login" class="back-login">
            ← Voltar para login
        </a>

    </section>

    <footer>
        © 2026 DocuIA. Todos os direitos reservados.
    </footer>

</main>

</body>
</html>